<hr style="height:.9px;border:none;color:#333;background-color:#333;" />
<hr style="height:.9px;border:none;color:#333;background-color:#333;" />

<br><h2>Supervised Learning Regression Model Development</h2>
<h4>Machine Learning</h4>
Francisco Rodrigo Alonso Castellanos - MBAN <br>
Hult International Business School<br><br><br>
<hr style="height:.9px;border:none;color:#333;background-color:#333;" />
<hr style="height:.9px;border:none;color:#333;background-color:#333;" /><br>

Import the following packages:

In [1]:
# importing libraries
import pandas as pd # data science essentials
import matplotlib.pyplot as plt # essential graphical output
import seaborn as sns # enhanced graphical output
import statsmodels.formula.api as smf # predictive modeling with nice outputs
import numpy as np 
from sklearn.model_selection import train_test_split # train/test split
from sklearn.linear_model import LinearRegression # linear regression (scikit-learn)
from sklearn.neighbors import KNeighborsRegressor # KNN for Regression
from sklearn.preprocessing import StandardScaler # standard scaler


# setting pandas print options
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)


# specifying file name
file = './birthweight_low.xlsx'


# reading the file into Python
df = pd.read_excel(io=file)


# outputting the first ten rows of the dataset
df.head(n=5)

   mage  meduc  monpre  npvis  fage  feduc  omaps  fmaps  cigs  drink  male  mwhte  mblck  moth  fwhte  fblck  foth  bwght  Unnamed: 18  Unnamed: 19  Unnamed: 20  Unnamed: 21  Unnamed: 22  Unnamed: 23  Unnamed: 24  Unnamed: 25  Unnamed: 26  Unnamed: 27  Unnamed: 28  Unnamed: 29  Unnamed: 30  Unnamed: 31  Unnamed: 32  Unnamed: 33
0    69    NaN       5    2.0    62    NaN      4      7    23      9     1      0      1     0      0      1     0    697          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN
1    68   12.0       3   10.0    61   11.0      4      6    25     11     1      1      0     0      1      0     0   1290          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN
2    71   12.0       3    6.0    46   12.0      2      7    21     12     1      0      1     0      0      1     0   1490          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN
3    59   16.0       1    8.0    48   16.0      7      8    21     10     0      0      0     1      0      0     1   1720          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN
4    48   12.0       4    6.0    39   12.0      2      9    17     13     0      1      0     0      1      0     0   1956          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN

Delete columns with NaN

In [2]:
#Delete columns with no data and that are not to be used for regression

df1= df.drop(['Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20', 'Unnamed: 21', 'Unnamed: 22',
         'Unnamed: 23', 'Unnamed: 24', 'Unnamed: 25', 'Unnamed: 26', 'Unnamed: 27',
         'Unnamed: 28', 'Unnamed: 29', 'Unnamed: 30', 'Unnamed: 31', 'Unnamed: 32', 
         'Unnamed: 33'], axis=1)

df1.head(n=5)

   mage  meduc  monpre  npvis  fage  feduc  omaps  fmaps  cigs  drink  male  mwhte  mblck  moth  fwhte  fblck  foth  bwght
0    69    NaN       5    2.0    62    NaN      4      7    23      9     1      0      1     0      0      1     0    697
1    68   12.0       3   10.0    61   11.0      4      6    25     11     1      1      0     0      1      0     0   1290
2    71   12.0       3    6.0    46   12.0      2      7    21     12     1      0      1     0      0      1     0   1490
3    59   16.0       1    8.0    48   16.0      7      8    21     10     0      0      0     1      0      0     1   1720
4    48   12.0       4    6.0    39   12.0      2      9    17     13     0      1      0     0      1      0     0   1956

Changin missing values

In [3]:
#Changing missing values by the median

meduc_med = df1 ['meduc'].median()
df1['meduc'].fillna(value = meduc_med,
                       inplace = True)

npvis_med = df1 ['npvis'].median()
df1['npvis'].fillna(value = npvis_med,
                       inplace = True)


feduc_med = df1 ['feduc'].median()
df1['feduc'].fillna(value = feduc_med,
                       inplace = True)

In [4]:
#Check for null values
df1.isnull().any()

mage      False
meduc     False
monpre    False
npvis     False
fage      False
feduc     False
omaps     False
fmaps     False
cigs      False
drink     False
male      False
mwhte     False
mblck     False
moth      False
fwhte     False
fblck     False
foth      False
bwght     False
dtype: bool

Adding a new column with one variable

In [5]:
#Adding a new column
df1['new_npvis'] = df['npvis']*df['npvis']

In [6]:
#Verify that the new column is added correctly
df1.head(n=5)

   mage  meduc  monpre  npvis  fage  feduc  omaps  fmaps  cigs  drink  male  mwhte  mblck  moth  fwhte  fblck  foth  bwght  new_npvis
0    69   14.0       5    2.0    62   14.0      4      7    23      9     1      0      1     0      0      1     0    697        4.0
1    68   12.0       3   10.0    61   11.0      4      6    25     11     1      1      0     0      1      0     0   1290      100.0
2    71   12.0       3    6.0    46   12.0      2      7    21     12     1      0      1     0      0      1     0   1490       36.0
3    59   16.0       1    8.0    48   16.0      7      8    21     10     0      0      0     1      0      0     1   1720       64.0
4    48   12.0       4    6.0    39   12.0      2      9    17     13     0      1      0     0      1      0     0   1956       36.0

In [7]:
#check for a null value
df1.isnull().any()

mage         False
meduc        False
monpre       False
npvis        False
fage         False
feduc        False
omaps        False
fmaps        False
cigs         False
drink        False
male         False
mwhte        False
mblck        False
moth         False
fwhte        False
fblck        False
foth         False
bwght        False
new_npvis     True
dtype: bool

In [8]:
#Insert median at null value

meduc_new_npvis = df1 ['new_npvis'].median()
df1['new_npvis'].fillna(value = meduc_new_npvis,
                       inplace = True)

In [9]:
#check for a null value
df1.isnull().any()

mage         False
meduc        False
monpre       False
npvis        False
fage         False
feduc        False
omaps        False
fmaps        False
cigs         False
drink        False
male         False
mwhte        False
mblck        False
moth         False
fwhte        False
fblck        False
foth         False
bwght        False
new_npvis    False
dtype: bool

In [10]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 196 entries, 0 to 195
Data columns (total 19 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   mage       196 non-null    int64
 1   meduc      196 non-null    float64
 2   monpre     196 non-null    int64
 3   npvis      196 non-null    float64
 4   fage       196 non-null    int64
 5   feduc      196 non-null    float64
 6   omaps      196 non-null    int64
 7   fmaps      196 non-null    int64
 8   cigs       196 non-null    int64
 9   drink      196 non-null    int64
 10  male       196 non-null    int64
 11  mwhte      196 non-null    int64
 12  mblck      196 non-null    int64
 13  moth       196 non-null    int64
 14  fwhte      196 non-null    int64
 15  fblck      196 non-null    int64
 16  foth       196 non-null    int64
 17  bwght      196 non-null    int64
 18  new_npvis  196 non-null    float64
dtypes: float64(4), int64(15)
memory usage: 29.2 KB

In [11]:
#Filtering fage values
df1['fage'] = np.where(df1['fage']<40, 99997, df1['fage'])
df1['fage'] = np.where(df1['fage']<99, 99996, df1['fage'])
df1['fage'] = df1['fage'].astype('str')
df1=df1.replace('99997', 'Lowerthan40')
df1=df1.replace('99996', 'Higherthan40')

print(df1.value_counts(['fage']))

fage
Lowerthan40     128
Higherthan40     68
dtype: int64

In [12]:
#Verifying the application of the filters in the column

data_features= df1.columns

tr_f = df1[data_features]

tr_f.head(n=5)

   mage  meduc  monpre  npvis          fage  feduc  omaps  fmaps  cigs  drink  male  mwhte  mblck  moth  fwhte  fblck  foth  bwght  new_npvis
0    69   14.0       5    2.0  Higherthan40   14.0      4      7    23      9     1      0      1     0      0      1     0    697        4.0
1    68   12.0       3   10.0  Higherthan40   11.0      4      6    25     11     1      1      0     0      1      0     0   1290      100.0
2    71   12.0       3    6.0  Higherthan40   12.0      2      7    21     12     1      0      1     0      0      1     0   1490       36.0
3    59   16.0       1    8.0  Higherthan40   16.0      7      8    21     10     0      0      0     1      0      0     1   1720       64.0
4    48   12.0       4    6.0   Lowerthan40   12.0      2      9    17     13     0      1      0     0      1      0     0   1956       36.0

In [13]:
#Applying dummies inside the table
df2 = pd.get_dummies(tr_f)


df2.head(n=5)

   mage  meduc  monpre  npvis  feduc  omaps  fmaps  cigs  drink  male  mwhte  mblck  moth  fwhte  fblck  foth  bwght  new_npvis  fage_Higherthan40  fage_Lowerthan40
0    69   14.0       5    2.0   14.0      4      7    23      9     1      0      1     0      0      1     0    697        4.0                  1                 0
1    68   12.0       3   10.0   11.0      4      6    25     11     1      1      0     0      1      0     0   1290      100.0                  1                 0
2    71   12.0       3    6.0   12.0      2      7    21     12     1      0      1     0      0      1     0   1490       36.0                  1                 0
3    59   16.0       1    8.0   16.0      7      8    21     10     0      0      0     1      0      0     1   1720       64.0                  1                 0
4    48   12.0       4    6.0   12.0      2      9    17     13     0      1      0     0      1      0     0   1956       36.0                  0                 1

Applying logarithm in variable for then apply correlation

In [14]:
#Applying logarithm in variables 
df2['log_meduc'] = np.log(df2['meduc'])
df2['log_monpre']   = np.log(df2['monpre'])
df2['log_feduc'] = np.log(df2['feduc'])
df2['log_new_npvis'] = np.log(df2['new_npvis'])
df2['log_bwght'] = np.log(df2['bwght'])
df2['log_npvis'] = np.log(df2['npvis'])
df2['log_mage']   = np.log(df2['mage'])

#sum +0.0009 because there are variable 0
df2['log_cigs']   = np.log(df2['cigs'] + 0.0009)
df2['log_drink']   = np.log(df2['drink'] + 0.0009)

In [15]:
for column in df2:
    print(f"{column}")

mage
meduc
monpre
npvis
feduc
omaps
fmaps
cigs
drink
male
mwhte
mblck
moth
fwhte
fblck
foth
bwght
new_npvis
fage_Higherthan40
fage_Lowerthan40
log_meduc
log_monpre
log_feduc
log_new_npvis
log_bwght
log_npvis
log_mage
log_cigs
log_drink

Creating a continuous data with the variable for correlation

In [16]:
# creating a list of continuous features (including 'bwght')
continuous_data_log = [ 'bwght', 
                        'meduc',
                        'monpre',
                        'npvis',
                        'feduc',
                        'cigs',
                        'drink',
                        'male',
                        'mwhte',
                        'mblck',
                        'moth',
                        'fwhte',
                        'fblck',
                        'foth',
                        'new_npvis',
                        'fage_Higherthan40',
                        'fage_Lowerthan40',
                        'log_mage',
                        'log_meduc',
                        'log_monpre',
                        'log_feduc',
                        'log_new_npvis',
                        'log_npvis',
                        'log_cigs',
                        'log_drink']
                  

# developing a correlation matrix based on continuous features
df2_corr = df2[continuous_data_log].corr(method = 'pearson')


# filtering the results to only show correlations with bwght
df2_corr.loc[ : , continuous_data_log].round(decimals = 2).sort_values(ascending = False,
                                                                      by="bwght")

                   bwght  meduc  monpre  npvis  feduc  cigs  drink  male  mwhte  mblck  moth  fwhte  fblck  foth  new_npvis  fage_Higherthan40  fage_Lowerthan40  log_mage  log_meduc  log_monpre  log_feduc  log_new_npvis  log_npvis  log_cigs  log_drink
bwght               1.00   0.09   -0.05   0.06   0.13 -0.57  -0.74  0.11  -0.11   0.13 -0.02  -0.04   0.12 -0.08      -0.01              -0.32              0.32     -0.42       0.09       -0.06       0.16           0.16       0.16     -0.39      -0.44
fage_Lowerthan40    0.32   0.10   -0.02   0.10   0.06 -0.14  -0.19  0.03   0.03  -0.07  0.04   0.04  -0.08  0.05       0.05              -1.00              1.00     -0.46       0.10       -0.02       0.06           0.15       0.15     -0.05      -0.16
log_npvis           0.16   0.20   -0.45   0.92   0.11 -0.00  -0.10  0.01  -0.02  -0.11  0.14  -0.00  -0.08  0.09       0.77              -0.15              0.15     -0.16       0.20       -0.42       0.01           1.00       1.00     -0.05       0.00
log_new_npvis       0.16   0.20   -0.45   0.92   0.11 -0.00  -0.10  0.01  -0.02  -0.11  0.14  -0.00  -0.08  0.09       0.77              -0.15              0.15     -0.16       0.20       -0.42       0.01           1.00       1.00     -0.05       0.00
log_feduc           0.16   0.43   -0.28  -0.09   0.89 -0.01  -0.13  0.11  -0.35  -0.02  0.35  -0.29  -0.04  0.35      -0.18              -0.06              0.06     -0.10       0.43       -0.26       1.00           0.01       0.01     -0.01      -0.06
mblck               0.13  -0.19    0.13  -0.09  -0.13 -0.20  -0.11  0.12  -0.48   1.00 -0.57  -0.46   0.89 -0.44      -0.08               0.07             -0.07     -0.02      -0.19        0.12      -0.02          -0.11      -0.11     -0.12      -0.05
feduc               0.13   0.62   -0.29   0.02   1.00  0.05  -0.12  0.08  -0.41  -0.13  0.52  -0.36  -0.15  0.52      -0.07              -0.06              0.06     -0.08       0.62       -0.27       0.89           0.11       0.11      0.02      -0.06
fblck               0.12  -0.23    0.03  -0.07  -0.15 -0.19  -0.10  0.11  -0.44   0.89 -0.50  -0.53   1.00 -0.48      -0.06               0.08             -0.08      0.04      -0.23        0.06      -0.04          -0.08      -0.08     -0.13      -0.02
male                0.11  -0.03   -0.08   0.00   0.08 -0.12  -0.09  1.00  -0.10   0.12 -0.03  -0.03   0.11 -0.08      -0.02              -0.03              0.03     -0.04      -0.03       -0.09       0.11           0.01       0.01     -0.00      -0.14
meduc               0.09   1.00   -0.23   0.14   0.62  0.10  -0.07 -0.03  -0.28  -0.19  0.46  -0.18  -0.23  0.43       0.07              -0.10              0.10     -0.09       1.00       -0.25       0.43           0.20       0.20      0.07      -0.07
log_meduc           0.09   1.00   -0.23   0.14   0.62  0.11  -0.07 -0.03  -0.27  -0.19  0.45  -0.18  -0.23  0.42       0.07              -0.10              0.10     -0.09       1.00       -0.25       0.43           0.20       0.20      0.08      -0.07
npvis               0.06   0.14   -0.34   1.00   0.02  0.04  -0.07  0.00   0.04  -0.09  0.06   0.03  -0.07  0.03       0.95              -0.10              0.10     -0.04       0.14       -0.33      -0.09           0.92       0.92     -0.02       0.03
new_npvis          -0.01   0.07   -0.22   0.95  -0.07  0.06  -0.03 -0.02   0.10  -0.08 -0.01   0.07  -0.06 -0.02       1.00              -0.05              0.05      0.05       0.07       -0.21      -0.18           0.77       0.77      0.01       0.04
moth               -0.02   0.46   -0.21   0.06   0.52  0.17  -0.04 -0.03  -0.44  -0.57  1.00  -0.31  -0.50  0.83      -0.01              -0.04              0.04      0.03       0.45       -0.21       0.35           0.14       0.14      0.06      -0.02
fwhte              -0.04  -0.18    0.04   0.03  -0.36 -0.01   0.07 -0.03   0.84  -0.46 -0.31   1.00  -0.53 -0.49       0.07              -0.04              0.04     -0.10      -0.18        0.04      -0.29          -0.00      -0.00      0.00       0.00
monpre             -0.05  -0.23    1.00  -0.34  -0.29 -0.06   0.02 -0.08   0.08   0.13 -0.21   0.04   0.03 -0.07      -0.22               0.02             -0.02      0.16      -0.23        0.94      -0.28          -0.45      -0.45     -0.01      -0.05
log_monpre         -0.06  -0.25    0.94  -0.33  -0.27 -0.04   0.04 -0.09   0.10   0.12 -0.21   0.04   0.06 -0.10      -0.21               0.02             -0.02      0.15      -0.25        1.00      -0.26          -0.42      -0.42     -0.03      -0.03
foth               -0.08   0.43   -0.07   0.03   0.52  0.21   0.02 -0.08  -0.41  -0.44  0.83  -0.49  -0.48  1.00      -0.02              -0.05              0.05      0.06       0.42       -0.10       0.35           0.09       0.09      0.13       0.02
mwhte              -0.11  -0.28    0.08   0.04  -0.41  0.03   0.16 -0.10   1.00  -0.48 -0.44   0.84  -0.44 -0.41       0.10              -0.03              0.03     -0.01      -0.27        0.10      -0.35          -0.02      -0.02      0.07       0.08
fage_Higherthan40  -0.32  -0.10    0.02  -0.10  -0.06  0.14   0.19 -0.03  -0.03   0.07 -0.04  -0.04   0.08 -0.05      -0.05               1.00             -1.00      0.46      -0.10        0.02      -0.06          -0.15      -0.15      0.05       0.16
log_cigs           -0.39   0.07   -0.01  -0.02   0.02  0.66   0.28 -0.00   0.07  -0.12  0.06   0.00  -0.13  0.13       0.01               0.05             -0.05      0.02       0.08       -0.03      -0.01          -0.05      -0.05      1.00       0.24
log_mage           -0.42  -0.09    0.16  -0.04  -0.08  0.15   0.30 -0.04  -0.01  -0.02  0.03  -0.10   0.04  0.06       0.05               0.46             -0.46      1.00      -0.09        0.15      -0.10          -0.16      -0.16      0.02       0.18
log_drink          -0.44  -0.07   -0.05   0.03  -0.06  0.24   0.66 -0.14   0.08  -0.05 -0.02   0.00  -0.02  0.02       0.04               0.16             -0.16      0.18      -0.07       -0.03      -0.06           0.00       0.00      0.24       1.00
cigs               -0.57   0.10   -0.06   0.04   0.05  1.00   0.36 -0.12   0.03  -0.20  0.17  -0.01  -0.19  0.21       0.06               0.14             -0.14      0.15       0.11       -0.04      -0.01          -0.00      -0.00      0.66       0.24
drink              -0.74  -0.07    0.02  -0.07  -0.12  0.36   1.00 -0.09   0.16  -0.11 -0.04   0.07  -0.10  0.02      -0.03               0.19             -0.19      0.30      -0.07        0.04      -0.13          -0.10      -0.10      0.28       0.66

In [17]:
for val in df2:
    print(f"{val} +")

mage +
meduc +
monpre +
npvis +
feduc +
omaps +
fmaps +
cigs +
drink +
male +
mwhte +
mblck +
moth +
fwhte +
fblck +
foth +
bwght +
new_npvis +
fage_Higherthan40 +
fage_Lowerthan40 +
log_meduc +
log_monpre +
log_feduc +
log_new_npvis +
log_bwght +
log_npvis +
log_mage +
log_cigs +
log_drink +

Building a base model

In [18]:
# Step 1: build a model
lm_best = smf.ols(formula = """bwght ~  cigs+
                                        drink +
                                        npvis +
                                        log_mage +
                                        fage_Higherthan40 +
                                        log_new_npvis""",
                                        data = df2)


# Step 2: FIT the data into the model object
results = lm_best.fit()


# Step 3: analyze the SUMMARY output
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  bwght   R-squared:                       0.718
Model:                            OLS   Adj. R-squared:                  0.709
Method:                 Least Squares   F-statistic:                     80.31
Date:                Wed, 24 Nov 2021   Prob (F-statistic):           2.44e-49
Time:                        14:26:48   Log-Likelihood:                -1421.9
No. Observations:                 196   AIC:                             2858.
Df Residuals:                     189   BIC:                             2881.
Df Model:                           6
Covariance Type:            nonrobust
=====================================================================================
                        coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------
Intercept          4574.8233    584.057      7.833      0.000    3422.716    5726.931
cigs                -35.1885      4.409     -7.981      0.000     -43.886     -26.491
drink              -120.1497      9.269    -12.963      0.000    -138.434    -101.866
npvis               -43.0755     15.768     -2.732      0.007     -74.180     -11.971
log_mage           -303.1883    122.455     -2.476      0.014    -544.741     -61.635
fage_Higherthan40  -131.8133     59.248     -2.225      0.027    -248.686     -14.941
log_new_npvis       302.7102     95.679      3.164      0.002     113.975     491.445
==============================================================================
Omnibus:                        5.943   Durbin-Watson:                   1.308
Prob(Omnibus):                  0.051   Jarque-Bera (JB):                8.498
Skew:                           0.122   Prob(JB):                       0.0143
Kurtosis:                       3.990   Cond. No.                         447.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

Preparing explanatory variable data

In [19]:
# preparing explanatory variable data
df1_data   = df2.drop(["bwght",
                      "log_bwght",],
                        axis = 1)

df1_target = df2.loc[ : , "bwght"]


# preparing training and testing sets (all letters are lowercase)
x_train, x_test, y_train, y_test = train_test_split(
            df1_data,
            df1_target,
            test_size = 0.25,
            random_state = 219)


# checking the shapes of the datasets
print(f"""
Training Data
-------------
X-side: {x_train.shape}
y-side: {y_train.shape}


Testing Data
------------
X-side: {x_test.shape}
y-side: {y_test.shape}
""")

Training Data
-------------
X-side: (147, 27)
y-side: (147,)


Testing Data
------------
X-side: (49, 27)
y-side: (49,)

Declaring set of x variables

In [20]:
#Declaring set of x variables
x_variables = [ 'monpre', 'new_npvis','feduc', 'cigs', 'drink',
                'male', 'mwhte','mblck','moth','fwhte','fblck', 'foth','log_meduc',
              'log_monpre','log_feduc', 'log_new_npvis', 'log_mage', 
               'fage_Higherthan40','fage_Lowerthan40','npvis']

for val in x_variables:
    print(f"{val} +")

monpre +
new_npvis +
feduc +
cigs +
drink +
male +
mwhte +
mblck +
moth +
fwhte +
fblck +
foth +
log_meduc +
log_monpre +
log_feduc +
log_new_npvis +
log_mage +
fage_Higherthan40 +
fage_Lowerthan40 +
npvis +

In [21]:
# merging X_train and y_train so that they can be used in statsmodels
df2_train = pd.concat([x_train, y_train], axis = 1)


lm_best = smf.ols(formula = """bwght ~  cigs +
                                        drink +
                                        log_feduc +
                                        log_new_npvis +
                                        mage
                                        """,
                                       data = df2_train)


# Step 2: FIT the data into the model object
results = lm_best.fit()


# Step 3: analyze the SUMMARY output
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  bwght   R-squared:                       0.728
Model:                            OLS   Adj. R-squared:                  0.718
Method:                 Least Squares   F-statistic:                     75.37
Date:                Wed, 24 Nov 2021   Prob (F-statistic):           4.23e-38
Time:                        14:26:48   Log-Likelihood:                -1069.0
No. Observations:                 147   AIC:                             2150.
Df Residuals:                     141   BIC:                             2168.
Df Model:                           5
Covariance Type:            nonrobust
=================================================================================
                    coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------
Intercept      4158.3672    350.063     11.879      0.000    3466.317    4850.417
cigs            -39.6336      5.046     -7.855      0.000     -49.608     -29.659
drink          -102.6616     11.265     -9.113      0.000    -124.932     -80.391
log_feduc       170.4719     85.994      1.982      0.049       0.468     340.476
log_new_npvis    84.1377     40.509      2.077      0.040       4.054     164.222
mage            -16.3443      3.022     -5.408      0.000     -22.319     -10.370
==============================================================================
Omnibus:                        3.571   Durbin-Watson:                   1.896
Prob(Omnibus):                  0.168   Jarque-Bera (JB):                4.158
Skew:                          -0.040   Prob(JB):                        0.125
Kurtosis:                       3.820   Cond. No.                         535.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [22]:
#Declaring set of x variables 2

x_variables2 = ['cigs',
'drink',
'new_npvis',
'fage_Higherthan40'
]

In [23]:
# applying modelin scikit-learn

# preparing x-variables from the OLS model
ols_data = df1_data.loc[:, x_variables2]


# preparing response variable
df1_target = df1.loc[:,"bwght"]


###############################################
## setting up more than one train-test split ##
###############################################


# OLS p-value x-dataset (normal Y)
x_train_OLS, x_test_OLS, y_train_OLS, y_test_OLS = train_test_split(
            ols_data,         # x-variables
            df1_target,   # y-variable
            test_size = 0.25,
            random_state = 219)

In [24]:
# INSTANTIATING a model object
lr = LinearRegression()


# FITTING to the training data
lr_fit = lr.fit(x_train_OLS, y_train_OLS)


# PREDICTING on new data
lr_pred = lr_fit.predict(x_test_OLS)


# SCORING the results
print('OLS Training Score :', lr.score(x_train_OLS, y_train_OLS).round(4))  # using R-square
print('OLS Testing Score  :',  lr.score(x_test_OLS, y_test_OLS).round(4)) # using R-square

lr_train_score = lr.score(x_train_OLS, y_train_OLS).round(4)
lr_test_score = lr.score(x_test_OLS, y_test_OLS).round(4)

# displaying and saving the gap between training and testing
print('OLS Train-Test Gap :', abs(lr_train_score - lr_test_score).round(4))
lr_test_gap = abs(lr_train_score - lr_test_score).round(4)

OLS Training Score : 0.6735
OLS Testing Score  : 0.7304
OLS Train-Test Gap : 0.0569

In [25]:
# applying modelin scikit-learn

#Declaring set of x variables 3
x_variables3 = ['cigs',
                'drink',
                'new_npvis',
                'fage_Higherthan40']

# preparing x-variables from the OLS model
df3 = df1_data.loc[:, x_variables3]


# preparing response variable
df1_target = df1.loc[:,"bwght"]

# FULL X-dataset (normal Y)
x_train_FULL, x_test_FULL, y_train_FULL, y_test_FULL = train_test_split(
            df3,     # x-variables
            df1_target,   # y-variable
            test_size = 0.25,
            random_state = 219)

In [27]:
# INSTANTIATING a model object
ard_model = sklearn.linear_model.ARDRegression()


# FITTING the training data
ard_fit = ard_model.fit(x_train_FULL, y_train_FULL)


# PREDICTING on new data
ard_pred = ard_fit.predict(x_test_FULL)


print('Training Score:', ard_model.score(x_train_FULL, y_train_FULL).round(4))
print('Testing Score :',  ard_model.score(x_test_FULL, y_test_FULL).round(4))


# saving scoring data for future use
ard_train_score =  ard_model.score(x_train_FULL, y_train_FULL).round(4)
ard_test_score  = ard_model.score(x_test_FULL, y_test_FULL).round(4)


# displaying and saving the gap between training and testing
print('ARD Train-Test Gap :', abs(ard_train_score - ard_test_score).round(4))
ard_test_gap = abs(ard_train_score - ard_test_score).round(4)

Training Score: 0.6729
Testing Score : 0.7333
ARD Train-Test Gap : 0.0604

Comparing results of models regression analysis

In [28]:
# comparing results

print(f"""
Model      Train Score      Test Score       GAP
-----      -----------      ----------      -----
OLS        {lr_train_score}           {lr_test_score}          {abs(lr_train_score-lr_test_score).round(4)}
Lasso      {lasso_train_score}           {lasso_test_score}           {abs(lasso_train_score-lasso_test_score).round(4)}
ARD        {ard_train_score}           {ard_test_score}          {abs(ard_train_score-ard_test_score).round(4)}
""")

Model      Train Score      Test Score       GAP
-----      -----------      ----------      -----
OLS        0.6735           0.7304          0.0569
Lasso      0.6724           0.733           0.0606
ARD        0.6729           0.7333          0.0604